@page
@model WebPWrecover.Pages.前程似锦Model
@{
}

<link rel="stylesheet" href="/css/index.css" />
<style>
    body {
        background: #F0FFF0;
    }
</style>

<body>

    <div class="wrap">

        <br />
        <div class="main">
            <div class="news" id="job">
                <div class="title">
                    <div class="title-left">就业无忧</div>
                    <div class="title-right"><a href="javascript:;">More&gt;&gt;</a></div>
                </div> <!-- title 结束 -->
                <!--
                <div class="pic-news">
                    <img src="/images/1.jpg" alt="">
                    <h2>520 慕女神喊你来表白</h2>
                    <p>活动时间：5月20日—5月25日</p>
                    <p>获奖公布时间：5月26日</p>
                    <a href="javascript:;">Learn More&gt;&gt;</a>
                </div> -->
                <!-- pic-news 结束  -->
                <div class="news-list">
                    <ul>
                        <li>
                            <span>2021-04-30</span>
                            <a href="">【特朗普采访王哥】王哥语录的秘诀何在？</a>
                        </li>

                    </ul>
                </div>
            </div> <!-- news 结束 -->

        <br />

            <div class="news" id="grow">
                <div class="title">
                    <div class="title-left">升本考研</div>
                    <div class="title-right"><a href="javascript:;">More&gt;&gt;</a></div>
                </div> <!-- title 结束 -->
                <!--
                <div class="pic-news">
                    <img src="/images/1.jpg" alt="">
                    <h2>520 慕女神喊你来表白</h2>
                    <p>活动时间：5月20日—5月25日</p>
                    <p>获奖公布时间：5月26日</p>
                    <a href="javascript:;">Learn More&gt;&gt;</a>
                </div> -->
                <!-- pic-news 结束  -->
                <div class="news-list">
                    <ul>
                    </ul>
                </div>
            </div> <!-- news 结束 -->
        <br />
            <div class="news">
                <div class="title">
                    <div class="title-left">出国留学</div>
                    <div class="title-right"><a href="">More&gt;&gt;</a></div>
                </div> <!-- title 结束 -->
                <!--
                <div class="pic-news">
                    <img src="/images/1.jpg" alt="">
                    <h2>520 慕女神喊你来表白</h2>
                    <p>活动时间：5月20日—5月25日</p>
                    <p>获奖公布时间：5月26日</p>
                    <a href="javascript:;">Learn More&gt;&gt;</a>
                </div> -->
                <!-- pic-news 结束  -->
                <div class="news-list">
                    <ul>
                    </ul>
                </div>
            </div> <!-- news 结束 -->


        </div> <!-- main 结束 -->
    </div> <!-- wrap 结束 -->

</body>